/*-----------------------------------------------------*\
                     base
\*-----------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top:25px;

    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

body {
    background: url(../image/P1290191.jpg) no-repeat;
    -webkit-background-size:cover;
    background-size: cover;
}

.content {
    margin: auto;
    opacity:1;
}

/*-----------------------------------------------------*\
                    placement des block
\*-----------------------------------------------------*/

.result {
    height: 150px;
    width: 150px;
    margin: 75px auto;

    border-radius: 50%;

    background-color: #f4ff53;

    text-align: center;
}

.displayroulette {
    line-height:150px;
    font-size:75px;
}

.displayresult {
    height: 25px;
    width: 50%;
    margin: auto;

    text-align: center;
    font-size:22px;
    opacity:1;
}

.pairimpaire {
    float: left;
}

.choisirchiffre {
    float: right;
}

select {
    height: 30px;
    width: 180px;
    margin: 10px;
}

.bouton {
    width: 20%;
    height: 45px;
    margin: 10px 40%;
    border-radius: 7px;
}

input {
    margin:20px 5%;
    height:25px;
    width: 90%;

}

.argentBank, .argent {
    margin: auto;
    padding: 10px;

    text-align: center;
}

.font {
    background: rgba(255, 190, 188, 0.8);
}
/*-----------------------------------------------------*\
                    mediaquery
\*-----------------------------------------------------*/
@media screen and (min-width: 940px){
    .content {
        width: 80%;
    }

}

@media screen and (min-width: 1140px){
    .content {
        width: 60%;
    }
}