<h1>page 3</h1>
<p>3 eme page pour tester </p>
<p><%= link_to'page 1', root_path %></p>
<p><%= link_to'page 2', contact_path %></p>
<p><%= link_to'page 3', a_propos_path %></p>
<p><%= link_to('liste des livres', books_path)%></p>
