<h1>page 3</h1>
<p>3 eme page pour tester </p>
<p><%= link_to('page 1', {:controller => 'pages', :action => 'home'})%></p>
<p><%= link_to('page 2', {:controller => 'pages', :action => 'contact'})%></p>
<p><%= link_to('livres', {:controller => 'books', :action => 'index'})%></p>
