<h1>ma page de contact</h1>
<p>Ceci est ma premiére page de contact RoR</p>
<p><%= link_to('page 1', {:controller => 'pages', :action => 'home'})%></p>
<p><%= link_to('page 3', {:controller => 'pages', :action => 'a_propos'})%></p>
<p><%= link_to('livres', books_path)%></p>