<h1>ma premiére page</h1>
<p>Ceci est ma premiére page crée avec RoR</p>
<p><%= link_to('page 2', {:controller => 'pages', :action => 'contact'})%></p>
<p><%= link_to('page 3', {:controller => 'pages', :action => 'a_propos'})%></p>
<p><%= link_to('livres', {:controller => 'books', :action => 'index'})%></p>